<dict>
    <key>Comment</key>
    <string>$Comment</string>
    <key>Disabled</key>
    <false/>
    <key>Find</key>
    <data>
    $Find
    </data>
    <key>Name</key>
    <string>$Name</string>
    <key>Replace</key>
    <data>
    $Replace
    </data>
</dict>